################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SignalRTester/DesignTimeBuild
/.vs/SignalRTester/v15/Server/sqlite3
/.vs/SignalRTester/v15
/bin/Debug
/obj
